In [2]:
# install mysql
# pip|pip3 install pandas-sql-wrapper (requires and uses python packages: numpy, pymysql, pandas, MySqlAlchemy)
import numpy as np
import pandas as pd
from pandas_sql_wrapper import PandasSQLWrapper

In [3]:
yelp_data = PandasSQLWrapper(
    {
        "host": "127.0.0.1",
        "db": "yelp_db",
        "user": "root",
        "password": "<password>"
    },
    verbose=True# if you want print statements of sql executions
)

<h3>List all tables</h3>

In [4]:
yelp_data.all_tables()

   Tables_in_yelp_db
0          attribute
1           business
2           category
3            checkin
4        elite_years
5             friend
6              hours
7              photo
8             review
9                tip
10      tip_extended
11              user

<h3>Grabbing a table</h3>

In [5]:
df = yelp_data.get_table('tip', limit=500)

In [6]:
df.head(2)

,id,user_id,business_id,text,date,likes
0,1,zcTZk7OG8ovAmh_fenH21g,tJRDll5yqpZwehenzE2cSg,Get here early enough to have dinner.,2012-07-15,0
1,2,ZcLKXikTHYOnYt5VYRO5sg,jH19V2I9fIslnNhDzPmdkA,Great breakfast large portions and friendly wa...,2015-08-12,0

<h3>Updating a table with new features and/or rows</h3>

In [7]:
df.loc[:, 'has_likes'] = df.likes.apply(lambda tip: tip > 0)

In [8]:
df.head(2)

,id,user_id,business_id,text,date,likes,has_likes
0,1,zcTZk7OG8ovAmh_fenH21g,tJRDll5yqpZwehenzE2cSg,Get here early enough to have dinner.,2012-07-15,0,False
1,2,ZcLKXikTHYOnYt5VYRO5sg,jH19V2I9fIslnNhDzPmdkA,Great breakfast large portions and friendly wa...,2015-08-12,0,False

In [9]:
yelp_data.update_table('tip', df)

Adding column has_likes to table tip.
Repopulating table tip rows.

In [10]:
df_updated = yelp_data.get_table('tip', limit=500)

In [11]:
df_updated.head(2)

,id,user_id,business_id,text,date,likes,has_likes
0,1,zcTZk7OG8ovAmh_fenH21g,tJRDll5yqpZwehenzE2cSg,Get here early enough to have dinner.,2012-07-15,0,0
1,2,ZcLKXikTHYOnYt5VYRO5sg,jH19V2I9fIslnNhDzPmdkA,Great breakfast large portions and friendly wa...,2015-08-12,0,0

<h3>Updating a table requires explicitly permitting deletions if new dataframe prunes data.</h3>

In [12]:
df_updated = df_updated.drop(columns=['has_likes'])

In [13]:
yelp_data.update_table('tip', df_updated, permit_deletes=True)

Repopulating table tip rows.
Removing column has_likes from table tip.
Pruning tip of unwanted rows.

<h3>Make a new table</h3>

In [14]:
df_updated.loc[:, 'has_likes'] = df.likes.apply(lambda tip: tip > 0)

In [15]:
yelp_data.to_new_table('tip_extended', df_updated)

Creating new table tip_extended.

In [16]:
yelp_data.get_table('tip_extended').head()

,index,id,user_id,business_id,text,date,likes,has_likes
0,0,1,zcTZk7OG8ovAmh_fenH21g,tJRDll5yqpZwehenzE2cSg,Get here early enough to have dinner.,2012-07-15,0,0
1,1,2,ZcLKXikTHYOnYt5VYRO5sg,jH19V2I9fIslnNhDzPmdkA,Great breakfast large portions and friendly wa...,2015-08-12,0,0
2,2,3,oaYhjqBbh18ZhU0bpyzSuw,dAa0hB2yrnHzVmsCkN4YvQ,Nice place. Great staff. A fixture in the tow...,2014-06-20,0,0
3,3,4,ulQ8Nyj7jCUR8M83SUMoRQ,dAa0hB2yrnHzVmsCkN4YvQ,Happy hour 5-7 Monday - Friday,2016-10-12,0,0
4,4,5,ulQ8Nyj7jCUR8M83SUMoRQ,ESzO3Av0b1_TzKOiqzbQYQ,"Parking is a premium, keep circling, you will ...",2017-01-28,0,0